@import "bourbon";

@media only screen and (max-width: 320px) and (min-width: 200px) {
    
    
    /*CSS FONTS Web~Oman*/



/*CSS FONTS END Web~Oman*/


 [class*="blok__"] h2 {
		 
		  font-size: 1.5em!important;
      text-align: center !important;
 margin-top: 35px !important;
          padding-top: 0px!important;
	  
	  padding-left: 0px !important;
	 
	 
	    

  }
    
p{

        
}
    
    .h2__excerpt{

    text-align: center;
 
       font-size: .9em !important;
    margin-bottom: 35px;
        
        margin-left: 0px;

        
    }

h1 {

}


  .tr{
    text-align: center !important;
  }



  br{
    display: none  !important;
  }
  .p-none{
    padding: auto;
  }


  .p-none{
    padding: auto;
  }

  .d-none{
    display: auto;
  }
  .p-none{
    padding: auto;
  }

  .p-l{
    padding-left: auto;
  }
  .p-r{
    padding-right: auto;
  }
    
    .mob__none{
    display: none;
    } 
    
  .b_m_p{
     margin-bottom: 0px !important;
    padding-bottom: 0px !important;

    }  
    
 .mini__none{
   display: none  !important;   
}  
    
.viz{
     display: block !important;
}
    
.s_prev,.s_next{
           
          display: none !important; 
           
           
    }    
    
    
      [class*="blok__"] {
    height: auto !important;
    padding-bottom:  35px;
              min-height:  auto !important;
          background-size: cover;
        
    }

    /*CSS OFF ANIMATION Web~Oman*/   
    

    /*CSS OFF ANIMATION END Web~Oman*/
  
  /*CSS END Web~Oman*/

    


	
		
.blok__01{
	
	.title{
		font-size: 1.3em;
	}
			
			text-align: center;
			
			
			[class*="img__n"]{
				
				
				margin-left: 0px;
				margin-right: 0px;
				
				span{
					    top: 20px!important;
				}
			}
		figure{
			margin-top: 0px!important;
			width: 100%!important;
			height: auto!important;
			margin-bottom: 35px;
		}
			
		.box__line {
    width: 100px;
    height: 30px;
    z-index: 2;
    margin-top: 10px;
    margin-left: auto;
			margin-right: auto;
    display: block;
    float: none;
}
		
		[class*="box__content"]{
			
			h2{
				text-align: center;
				width: 100%;
				margin-left: 0px;
				margin-right: 0px;
				
				font-size: 3em;
			}
			
			h3{
				margin-top: 0px!important;
				font-size: 1.1em;
			}
			
			p{
				font-size: 1em;
			}
			
			margin-top: 0px;
			
			margin-bottom: 50px;
		}

		
	} 
    
	
	.blok__02{
				background: #59B2C6;
			
			text-align: center;
			
			figure,.box__widt,.box__text{
				display: none!important;
			}
		
		.slick-dots {

		top:20px;
   }
			
		.box_content__1{
			padding-bottom: 50px!important;
			height: auto;
			
				background: none;
			
			
			padding-top: 50px;
			
			
			
			.box__content__info{
				.box__h{
					.title{
						display: block;
						
						font-size: 1.5em;
					}
					.box__line{
						   margin: 10px auto;
						float: none;
						width: 54px;
						height: auto;
						display: block;
						span:before{
							top:0px;
						}
						
					}
					h2{
						margin-top: 0px;
					}
					
					
					
				}
				
				ul li{
					.nam{
						float: none;
						    margin-bottom: 25px;
    display: block;
					}
					
					h3,p{
						margin-left: 0px;
						margin-right: 0px;
						
					}
					
					
					
				} 
				
			}
		}
			
			
			
	}
		
	
	
	
.blok__03{
		
		.box_info{
			
			width: 100%;
			height: auto;
			.box_info{
				
				
				
			
			}
			
			
		}
		.box__price{
	
			text-align: center;
			margin-top: 0px!important;
			padding-top: 0px!important;
			
			margin-left: auto;
			margin-right: auto;
			
			
			
			h3{
				margin-top: 50px;
				font-size: 1.5em;
			}
			
			.b__bottom{
				
			margin-left: auto;
			margin-right: auto;	
				
			}
		}
		.box__img,.box__price{
			
			
			margin-top: 50px;
		}
		
		.box__img{
			
			    background: url(../images/bols.png) no-repeat top center;
			height: auto;
			
			text-align: center;
			
			width: 100%;
			background-size: contain;
			
			#first{
				
				.timer{
					
					&:before{
						
						display: block;
    top: 80px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
						
					}
					margin-left: auto;
					margin-right: auto;
  
    line-height: .75;
    margin-top: 50px;
    display: block;
					
				}
				
				
			} 
			
			margin-left: auto;
			margin-right: auto;
		}
		
		.title__activ{
			
			h2{
				
			}
			
			
		} 
		
		.block__pric{
			h3{
				margin-top: 50px;
				
			}
			
		}
		
		.box_info{
			.block__pric{
				
				display: block;
				
				&:before,&:after{
					display: none;
				}
				
					.n1,.n2,.n3{
					font-size: 1em;
					display: inline-block;
					width: 32%;
					display: inline-block;
					    margin-top: 45px;
					font-size: .80em;
					padding-bottom: 5px!important;
					
					border-bottom: 1px solid #000;
					
					vertical-align: top;
				}
				
				margin-top: 0px;
			    width: 100%;	
				.n3{
					
				
						
				padding: 0 0px;
				}
				
			}
		} 
		.box__post{
			
			
			
			
			&:hover .box_bac {
    vertical-align: top;
    margin-top: -506px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 503px;
    position: relative;
    text-align: center;
}
			
			[class*="img__n"]{
				overflow: hidden;
				    margin-left: 0px;
				margin-right: 0px;
				
			}
			margin-top: 50px;
			
			figure{
				 height: auto;
				overflow: hidden;
				
				    width:100%;
				margin-left: auto !important;
				margin-right: auto!important;
    height: auto;
			}
			
			.box_bac1{
			display: none;
			}
			
			
			&:hover .box_bac{
				
					    width: 100%;
   display: block;
				
			}
			
			
		}
		
}
		
	
			
.blok__04{
	
	.slick-dots {

		top:20px;
   }
	
	text-align: center;
	.box_content__1{
		
		height: auto;
		padding-top: 0px;
		
		
		.box__widt,figure{
				display: none;
			}
		div.box__content__info{
			z-index: 7;
			position: relative;
			
			.box__line{
				
				display: block;
				margin: 0 auto;
				
				height: 25px;
				
				span:before{
					top: 0px;
				}
			}
			
			h2{
				margin-top: 0px!important;
			}
			.box__information{
				width: 100%;
				
				 h3{
				display: block;
			}
				
				p{
					font-size: 1.1em;
				}
				
				
				
			}
			
		}
	}
	
	
}
		
	
	
	
.blok__05{
	text-align: center;
background: #F8D580;
	
	.box_content__1{
		
	
		padding-bottom: 35px;
		
		padding-top: 0px;
			height: auto;
		
		figure{
			
		max-width: 409px;
			width: 100%;
			
			margin: 50px auto 0px auto;
			
			img{
				width: 100%;
				height: auto;
			}
		}
		
		.box__widt,.box__text{
			
			display: none;

		}
	
		.box__content__info{
			
			.nam ul li{
				
				width: 45px;
					span.activ{

					font-size: 1.8em;
				}
				
			} 
			
			.box__h{
				width: 100%;
				margin-left: 0px;
				margin-right: 0px;
				
				h2{
					font-size: 3em;
				}
				
				.title{
					font-size: 1.5em;
				}
			}
			
		.box__line {
    margin-right: auto;
			margin-left: auto;
    float: none;
    width: 75px;
    height: 62px;
    display: block;

}
			
			.info{
				margin-left: 0px;
				margin-right: 0px;
			}
		}
		
	}
	
	
	
	
}	
			
	
	
.blok__06{
		
		.box_info{
			
			width: 100%;
			height: auto;
			.box_info{
				
				
				
			
			}
			
			
		}
		.box__price{
	
			text-align: center;
			margin-top: 0px!important;
			padding-top: 0px!important;
			
			margin-left: auto;
			margin-right: auto;
			
			h3{
				margin-top: 50px;
				font-size: 1.5em;
			}
			
			.b__bottom{
				
			margin-left: auto;
			margin-right: auto;	
				
			}
		}
		.box__img,.box__price{
			
			
			margin-top: 50px;
		}
		
		.box__img{
			height: auto;
			
			text-align: center;
			
			width: 100%;
			background-size: contain;
			
			#first_t{
				
				.timer{
					
					&:before{
						
						display: block;
    top: 80px;
    left: 0px;
    margin-left: auto;
    margin-right: auto;
						
					}
					margin-left: auto;
					margin-right: auto;
  
    line-height: .75;
    margin-top: 50px;
    display: block;
					
				}
				
				
			} 
			
			margin-left: auto;
			margin-right: auto;
		}
		
		.title__activ{
			
			h2{
				
			}
			
			
		} 
		
		.block__pric{
			h3{
				margin-top: 50px;
				
			}
			
		}
		
		.box_info{
			.block__pric{
				
				display: block;
				
				&:before,&:after{
					display: none;
				}
				vertical-align: top;
				.n1,.n2,.n3{
					font-size: 1em;
					display: inline-block;
					width: 32%;
					display: inline-block;
					    margin-top: 45px;
					font-size: .80em;
					padding-bottom: 5px!important;
					
					border-bottom: 1px solid #000;
					
					vertical-align: top;
				}
				
				margin-top: 0px;
			    width: 100%;	
				.n3{
					
				
						
				padding: 0 0px;
				}
				
			}
		} 
		.box__post{
			
			
			
			
			&:hover .box_bac {
    vertical-align: top;
    margin-top: -506px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 503px;
    position: relative;
    text-align: center;
}
			
			[class*="img__n"]{
				overflow: hidden;
				    margin-left: 0px;
				margin-right: 0px;
				
			}
			margin-top: 50px;
			
			figure{
				 height: auto;
				overflow: hidden;
				
				    width:100%;
				margin-left: auto !important;
				margin-right: auto!important;
    height: auto;
			}
			
			.box_bac1{
			display: none;
			}
			
			
			&:hover .box_bac{
				
					    width: 100%;
   display: block;
				
			}
			
			
		}
		
}
		
		
.blok__07{
		text-align: center;
		
		padding-top: 0px;
		
		.box__img{
			.box__widt{
				display: none;
			}
	max-width: 386px;
				width: 100%;
				height: auto;
			margin-left: auto;
			margin-right: auto;
				
			
			
			margin-left: 0px;
			figure{
				width: 100%;
				height: auto;
				
				img{
			
				width: 100%;
				height: auto;
				
				
				}
				
			}
			
		}
		
	.title{
		
		font-size: 1.5em;
		br{
			display: none;
		}
	}
	
	.box_text_day{
		  width: 100%;
		
		.box_text{
			
			    display: block;
    width: 100%;
    float: none;
			
			
		}
		.box__day{
			
			width: 100%;
			
			margin: 39px auto;
			
			z-index: 11;
			position: relative;
			
			.dn{
				
				display: block;
				
				
				
				
			}
	.day:after {
    display: block;
    top: 0px;
    position: relative;
    content: '';
    width: 80px;
    height: 1px;
    margin-right: auto;
		margin-left: auto;
    background: #000000;
    float:none;
}
			
		}
		
	} 
		
}




	.blok__08{

		.col-mob-12{

			padding-left: 0px;
			padding-right: 0px;
		}

		background: rgba(194, 190, 202, 0.1);
		margin-top: 35px;

		.box__content {
			text-align: center;
			position: relative;
			background: none;
			width: 100%;
			height: auto;
			margin-left: auto;
			margin-right: auto;
			margin-top:  auto;
			padding-left: 0px;
			padding-top: 35px;
			.box__block {
				margin-left: auto;
				margin-right: auto;

				h3{
					padding: 0 15px;
				}


				.box__coment {
					margin-left: auto;
					margin-right: auto;

					width: 300px;
					height: 450px;
					overflow-y: scroll;
					overflow-x: hidden;

					#vk_comments{
						margin-left: auto;
						margin-right: auto;

						width: 295px!important;

						iframe{
							width: 295px!important;
						}

					}


				}
			}



		}


		.box__img {


			display: none;

		}



	}

	
	
	
	.blok__09{
		padding-bottom: 0px;
		padding-top: 35px;
		
		h2{
			
			margin-top: 0px!important;
		}
		
		.box__content{
			
			 
			text-align: center;
			
			margin-top: 30px;
			
			.to__phone span,.to__skype span,.to__mel span{
				margin-left: 0px!important;
			}
			a span{
				
				
				
				display: block!important;
				
				position: inherit;
			}
			
		}
		
		

		
			 .box__forma{
					margin-top: 50px;

				 max-width: 358px;
				 width: 100%;
				 margin-left: auto;
				 margin-right: auto;


			}
	
		}
		
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
    

    

    
.section_footer{
    text-align: center;
    height: auto;
background-size: cover;
    
        padding-bottom: 15px;
	
		.phone{
		text-align: center;
	}
	.callme{
		text-align: center;
	}
	
	
		.box__cosealu{
		
		text-align: center;
		
		a{
			
			margin: 0 10px;
		}
		
		
	}
    
  
       .box__callme{
        
        margin-top: 25px;
        margin-bottom: 25px;
     
        
       .header__top{
            
                margin-left: auto;
    margin-right: auto;
        }
        
    }
	
	 .box__info__logo{
		text-align: center;	
		margin-top: 15px;
	}
	

    
    .soceal{
         margin-top: 15px;
        margin-bottom: 15px;
    text-align: center;
        margin-left: 0px; 
        a{
            
            margin: 0 5px;
            
            display: inline-block;
        }
    }
 
    
  .box__phone{
        text-align: center;
        margin-top: 20px;
		
			.mel{
			text-align: center;
		margin-top: 15px;	
		}
    }
    
    
    hr{
            margin-top: 20px;
    }
    

    
    .box__ul{
        
        ul{
           
            
            
            li{
                 display: block;
                    margin-bottom: 15px;
                
                a{
                    
                     margin-right:0px;
                    
                    font-size: .9em;
            
          
                }
            }
        }
    }
    
    .GM{
        
        margin: 20px 0;
    }
    
    
    
}















 /* -------------------- MODAL ---------------*/     
    .md__info{
        
       top: 10px !important;
    }   
    
    
 
 
.md-show {
    top: 0px;
    left: 50%;
        
         -webkit-transform:translateX(-50%) translateY(-0%);
 -moz-transform:translateX(-50%) translateY(-0%);
 -ms-transform:translateX(-50%) translateY(-0%);
 transform:translateX(-50%) translateY(-0%);
}



  .mod__doz{
        
      margin-top: 35px;
        
         .btn_close_modal{
            
      right: 0px;
    top: 0px;
        }
        
        .titlebox{
               padding: 20px 20px 0 20px;
            
            h2{
              text-align: center;   
                
                font-size: 1.1em !important;
                
           
                
             
            }
            
            p{
               text-align: center;  
                 font-size: 1em ;
                 padding: 0 25px;
            }
        }
        
    }
    
    .md-content>div{
        padding: 20px;
    }
    .md_large .md_content{
        
            max-height: 300px;
    }  
    .md_large .titlebox h2{



    }
      /* -------------------- END MODAL ---------------*/      



}  /* (max-width: 320px) and (min-width: 200px ) */




